<div class="ekart--product--container">
   <!--<img [src]="product.pImage">
   <p>Name:{{product.name}}</p>
   <p>price:{{'$'+product.price}}</p>
   <p>color:{{product.color}}</p>
   <p>Discounted price:{{getDiscountedprice().toFixed(2)}}</p>
   <p>{{product.inStock > 0 ? 'only'+ product.inStock +  'item left' :'not in stock'}}</p>
    <button (click)="decrementCartValue()">-</button>
   <span>{{addToCart}}</span>
    <button (click)="incrementCartValue()">+</button>-->
   <app-search (searchTextChanged)="setSearchText($event)"></app-search>
   <product-list [searchText]="searchText"></product-list>
</div>